@import "../../global.scss";

.interests
{
  //background-color: rgb(231, 230, 230);
  background-color: white;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;

  h1
  {
    padding: 10px 0 15px 35px;
    font-size: 50px;
    font-weight: 300;
  }

  .container
  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h1
    {
      margin-bottom: 800px;
    }

    .item
    {
      width: 550px;
      height: 700px;
      overflow: hidden;
      border-radius: 20px;
      border: 1.5px solid black;
      margin: 10px 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      position: relative;
      transition: all 0.5s ease;
      box-shadow: 0px 0px 15px -5px;

      @include mobile
      {
        width: 175px;
        height: 220px;
        margin: 20px 5px;
        flex-wrap: wrap;
        justify-content: center;
      }

      &:hover
      {
        transform: scale(1.01);
        transition: all 1s ease;
        box-shadow: 0px 0px 15px -5px;
      }

      .web-img
      {
        height: 300px;
        margin-top: -245px;
        margin-bottom: 15px;
        object-fit: cover;  

        @include mobile
        {
          height: 50%;
          margin-top: 0;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .oop-img
      {
        height: 300px;
        margin-top: -230px;
        margin-bottom: 15px;
        object-fit: cover;

        @include mobile
        {
          height: 50%;
          margin-top: 0;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .security-img
      {
        height: 300px;
        margin-top: -245px;
        margin-bottom: 30px;
        object-fit: cover;

        @include mobile
        {
          height: 50%;
          margin-top: -40%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .item-title
    {
      overflow: hidden;
      h3
      {
        font-size: 25px;
        padding-bottom: 15px;
        font-weight: 400;

        @include mobile
        {
          font-size: 15px;
          text-align: center;
        }
      }
    }

    p
    {
      font-size: 15px;
      padding-left: 15px;
      padding-right: 15px;

      @include mobile
      {
        font-size: 10px;
        align-items: center;
      }
    }
  }
}