@import "../../global.scss";

.works
{
  background-color: white;
  //background-color: rgb(231, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1
  {
    margin: -40% 0 0 -85%;
    font-size: 50px;
    font-weight: 300;
  }

  .arrow
  {
    height: 60px;
    position: absolute;
    cursor: pointer;

    @include mobile
    {
      display: none;
    }

    &.left
    {
      left: 100px;
      transform: scale(2,2) rotateY(180deg);
      transition: all 1s ease;

      &:hover
      {
        transform: scale(2.2) rotateY(180deg);
        transition: all 1s ease;
      }
    }

    &.right
    {
      right: 100px;
      transform: scale(2,2);
      transition: all 1s ease;

      &:hover
      {
        transform: scale(2.2);
        transition: all 1s ease;
      }
    }
  }

  .slider
  {
    height: 600px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile
    {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container 
    {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item
      {
        width: 1200px;
        height: 95%;
        background-color: white;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 0px 0px 20px -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;

        &:hover
        {
          transform: scale(1.01);
          transition: all 1s ease;
        }

        @include mobile
        {
          width: 90%;
          height: 180px;
          margin: 5px 0;
        }

        .left
        {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer
          {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile
            {
              width: 100%;
              height: 100%;
            }

            h2
            {
              font-size: 30px;
              font-weight: 400;
            }

            p
            {
              font-size: 17px;
            }

            button
            {
              width: 350px;
              height: 30px;
              color: whitesmoke;
              background-color: crimson;
              border: none;
              border-radius: 10px;
              font-weight: 500;
              cursor: pointer;

              &:focus
              {
                outline: none;
              }
            }
          }
        }

        .right
        {
          flex: 8;
          height: 100%;
          background-color: crimson;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          .videoContainer
          {
            @include mobile
            {
              width: 150px;
              height: 150px;
            }
          }
        }
      }
    }
  }
}